/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Container Styles */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Burger Icon */
.burger-btn {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Navigation */
.horizontal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}

#logo {
  height: 40px;
}

#nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

#nav-menu li {
  display: inline;
}

.price {
  font-size: 25px;
  font-weight: bold;
}
#nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#nav-menu a:hover {
  background-color: white;
  color: black;
}

.spec {
  margin-bottom: 20px;
}
.show {
  display: block;
}

#nav-menu {
  display: flex;
}

@media (max-width: 768px) {
  .burger-btn {
    display: block;
  }
  #nav-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  #nav-menu.show {
    display: flex;
  }
}

/* Product and Footer Styles */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  gap: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-image, .product-details {
  flex: 1 1 45%;
  margin: 20px;
}

.add-to-cart {
  background-color: #4f46e5;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: rgb(7, 5, 8);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.about-product {
  margin-top: 40px;
  padding: 20px;
  background-color: #f0f4f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 40px auto;
}

.about-product h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
}

.about-product .about-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

/* Video Section */
.product-video {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.product-video iframe {
  width: 100%;
  height: 400px;
  border: none;
}

/* Side Menu */
.sidemenu {
  display: none;
  position: fixed;
  top: 10%;
  right: 10px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
}

.sidemenu ul {
  list-style: none;
}

.sidemenu ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.sidemenu.show {
  display: block;
}

@media (max-width: 768px) {
  .sidemenu {
    top: 20%;
    right: 0;
  }
}
